@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Monoton');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

html, body, header, section, .container, footer, .home, .right, .welcome, .bg, .bg_1, .calendar_text, .calendar, .achieve, .achieve_img {position: relative;}

html, body, header, .container, .welcome, .news, .news_img, .news img, .news_img_a img, .news_img_bl img, .news_img_br img, .resource_img_a img, .resource_img_bl img, .resource_img_br img, footer {width: 100%;}

.b, .b1, .b2, .sub_news {margin: 10px auto;}

.left {
    position: fixed;
    left: 10%;
    width: 15%;
    z-index: 100;
    border-right: 1.5px dashed #1ead84;
    margin: 20px 0;
}

.news_img_a, .sub_news_par, .resource_img_a {width: 90%;}

.right, .right_t {width: 70%;}

.b, .b1, .b2, .sub_news, .embedded_map, .resource_img_a, .sub_resource_par {width: 60%;}

.achieve {width: 50%;}

.news_img_bl, .news_img_br, .resource_img_bl, .resource_img_br {width: 49%;}

.b_right, .foot_left {width: 35%;}

html, body, header, section, .container, footer, .home, .right, .welcome, .bg, .bg_1, .bg_2, .calendar_text, .calendar, .achieve, .achieve_img, .embedded_map {margin: 0;}

.news_img, .news_img_a div, .news_img_bl div, .news_img_br div, .resource_img_a div, .resource_img_bl div, .resource_img_br div, .news_text, .box img, .right_ph {margin: 10px;}

.news_img_a, .resource_img_a, .sub_news_par {margin: 10px auto;}

.foot_left {
    border-right: 1px solid white;
    padding-right: 20px;
}

.right_ph {padding-bottom: 30px;}

.right_p, .right_t {
    margin-right: 15%;
    border-bottom: 1px solid #1ead84;
}

.right_t table tr th, .right_t table tr td, .intro_hide {padding: 10px;}

.b, .b1, .b2, .home, .right_p, .right_t {
    padding-top: 20px;
    padding-bottom: 30px;
}

.right_t table tr th {vertical-align: top;}

.right_t table tr td ol {padding-left: 15px;}

.right_t table {border-collapse: collapse;}

.right_t table, .right_t table tr th, .right_t table tr td {border: 1px solid gray;}

.nav_text li, h1, .desc, .b1 h1, .b1 h2, .welcome, .return, .sub_news, .calendar, footer {text-align: center;}

.foot_left, .text, .right_ph, .right_ph h1, .right_ph h2, .right_ph h3, .right_p, .right_p h1, .right_p h2, .right_p h3, .bg h1, .b2 h1, .b2 h2, .news_text h1, .right_t table th, .right_t h1 {text-align: left;}

header, .container, right, .right_ph, .right_p, .right_t, .intro_hide, .news {overflow: hidden;}

header {
    top: 0;
    left: 0;
    height: 90px;
    z-index: 9999;
    border-bottom: 3px solid #1ead84;
}

.nav_logo, .left, .img, .textout, .lineout, .calendar_text, .foot_left, .calendar, .achieve, .achieve_img, .intro_text, .intro_img, .home, .embedded_map iframe, .news_img_bl, .resource_img_a, .resource_img_bl {float: left;}

.foot_left p, .right, .embedded_map, .b_right, .news_img_br, .resource_img_br {float: right;}

html, body, header, .container, footer, .b1, .news_img, .news_img_a, .sub_news_par, .b {float: center;}

.nav_logo li, .nav_text li, .subnav_h1, .subnav_h2, .calendar_text div ul li, .intro_pro li {list-style-type: none;}

.welcome {
    height: 300px;
    background-repeat: no-repeat;
}

.b2 {border-top: 1px solid #1ead84;}

footer {padding: 10px;}
 
.box, .news, .news_img_a, .news_img_br, .news_img_bl, .resource_img_a, .resource_img_bl, .resource_img_br {
    border: 1px solid gray;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
}

.calendar_text {
    padding-left: 20px;
    height: 150px;
}

.calendar_text div ul {
    width: 500px;
    padding-left: 200px;
}

.calendar {
    width: 130px;
    height: 130px;
    padding-top: 50px;
    background-size: 130px;
    background-repeat: no-repeat;
}

.achieve {padding: 10px 0;}

.achieve_img {
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    padding-right: 5px;
}

.news {margin: 30px;}

.sub_news {
    border-left: 1.5px dashed #1ead84;
    border-right: 1.5px dashed #1ead84;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textout {
    width: auto;
    margin-left: 10%;
    padding-top: 30px;
    cursor: pointer;
}

.intro_hide {
    display: none;
    padding-left: 10px;
    border-left: 3px solid #1ead84;
    border-top-right-radius: 1em;
}

.lineout {
    width: 4px;
    margin-left: 5px;
    margin-top: 30px;
}

.intro_img {
    margin-left: 5%;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 2em;
    border: 2px dotted #1ead84;
}

.h1, .b1 h1 {letter-spacing: 1px;}

.h1 {
    font-size: 500%;
    text-shadow: 0px 1px 5px black;
}

.h2 {
    font-size: 200%;
    text-shadow: 0px 1px 5px black;
}

.calendar {font-size: 300%;}

.achieve h2 emph, .bg h1{font-size: 200%;}

.subnav_h2, .text {text-indent: 2em;}

.right_ph h2, .achieve div h2, .right h2 {font-size: 175%;}

.right_ph h1, .right_p h1, .news_img h1 {font-size: 150%;}

.date, .nav_text, .left, .right_ph h2, .right_p h2, .achieve h1 emph, .return {font-size: 125%;}

.achieve h1, .right_p h3, .right_t, .home {font-size: 110%;}

.intro_hide, .b_right, footer {font-size: 90%;}

.desc {font-size: 65%;}

.h1, .h2 {font-weight: bolder;}

.desc, .text a, .right_p ul li emph, .right_p emph, .subnav_h1, .subnav_h2, .nav_text {font-weight: bold;}

.b1 h1, .text, .b2 div .calendar_text, .right_p, .right_ph {font-size: 120%;}

.right_p h3, .calendar {line-height: 100%;}

.left, .right_ph p, .text, .b2 div, .calendar_text, .desc, .intro_hide, .home {line-height: 150%;}

.right_p, .textout {line-height: 200%;}

.right_ph table {
    width: 85%;
    margin: 0;
}

.img {
    margin: 10px;
    border: 1px solid gray;
    width: auto; 
    height: auto;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

footer, .home {
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 9999;
}

.nav_text li a, footer div a, .subnav_h1 li a, .subnav_h2 li a, .text a, .desc a, .project, .btn, .b2 a, .return a, a {text-decoration: none;}

.nav_text li a, .nav_text li a, .b2 h2, .b2 h3, .subnav_h1 li a, .subnav_h2 li a, .right h1, .right h2, .right h3, .right h4, .right_ph h1, .right_ph h2, .right_ph h3, .right_ph h4, .right_p h1, .right_p h2, .right_p h3, .right_p h4, .bg h1, .b1 h2, .b2 h1, .sub_news h1, .calendar, .achieve {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

.h1 {font-family: 'Signika', sans-serif;}

.h2, .calendar_text, .b2 h2, .b2 h3, .b2, .b_right h3, footer div, footer div a, h1, .text, .right_ph, .right_p, .right_t, ul li, .desc, .achieve h1, .achieve h2, .news, .return {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
}

.nav_text li a:link, .nav_text li a:visited, .text a, .b2 a, .subnav_h1 li a, .desc a, .b_right a:link, .b_right a:visited, .news_text h1 a {color: black;}

.nav_text li a:hover, .nav_text li a:active, .calendar, .subnav_h1 li a:active, .subnav_h1 li a:hover, .subnav_h2 li a:active, .subnav_h2 li a:hover, .text a:active, .text a:hover, .b2 a:active, .b2 a:hover, .desc a:active, .desc a:hover, .textout, .btn, .b_right a:active, .b_right a:hover, .news_text h1 a:hover, .news_text h1 a:active, .news_text h1 a:active, .news_text h1 a:hover, .return:hover, .return:active {color: #1ead84;}

.welcome, footer div a:link, footer div a:visited, footer div {color: white;}

.btn:hover, .btn:active, .date, .return {color: gray;}

footer div a:hover, footer div a:active {color: lightgray;}

.intro_hide {background-color: #eeffef;}

footer, .home {background-color: #1ead84;}

@media screen and (max-width: 1000px) {
    .sub_news {width: 100%;}

    .sub_news {border: none;}
}